.#{$folderName}-repair-widget {
  /* margin-top: 200px !important; */
  position: relative;
  top: 200px;
}

.#{$folderName}-back-to-top {
  position: fixed;
  left: 30px;
  top: 500px;
  width: 35px;
  cursor: pointer;
  z-index: 999;
}

.repair-widget-card {
  width: 100%;
  max-width: 900px;
  height: 600px;
  background: #FFFFFF;
  box-shadow: -10px -10px 30px #FFFFFF, 10px 10px 30px rgba(174, 174, 192, 0.4);
  border-radius: 20px;
  position: relative;
}

.#{$folderName}-repair-widget-title {
  font-weight: bold !important;
  font-size: 35px !important;
}

.#{$folderName}-repair-choose-device-container {
  padding: 30px 20px;
}

.#{$folderName}-device-item-container {
  width: 17%;
  margin: 1%;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  overflow:  hidden !important;
}

.#{$folderName}-device-item-container:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.#{$folderName}-device-item-container:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.plus-svg {
  max-width: 80%;
  cursor: pointer;
}

.plus-svg:hover {
  fill:rgba(153, 145, 145, 0.4);
}

.back-path:hover {
  fill:rgba(15, 15, 15, 0.4);
}

.#{$folderName}-topic-title {
  font-weight: bold !important;
  font-size: 20px !important;
  font-style: normal !important;
  margin-bottom: 20px !important;
}

.#{$folderName}-topic-content {
  font-weight: normal !important;
  font-size: 17px !important;
  margin-bottom: 20px !important;
}

.#{$folderName}-repair-card-button {
  position: absolute;
  bottom: 30px;
  left: 30px;
  display: flex;
  align-items: center;
  color: rgba(0,0,0,0.35);
}

.#{$folderName}-repair-card-button p {
  margin-left: 15px;
}

.#{$folderName}-device-brand-subtitle {
  margin-top: 7px;
  font-weight: bold;
  padding: 0 10px;
  font-size: 20px;
}

.#{$folderName}-widget-main-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  height: auto;
  max-height: 500px;
  overflow-y: auto;
}

/* width */
.#{$folderName}-widget-main-container::-webkit-scrollbar {
  width: 3px;
  cursor: pointer;
}

/* Track */
.#{$folderName}-widget-main-container::-webkit-scrollbar-track {
  background: #ffffff;
}
 
/* Handle */
.#{$folderName}-widget-main-container::-webkit-scrollbar-thumb {
  background: #999;
}

/* Handle on hover */
.#{$folderName}-widget-main-container::-webkit-scrollbar-thumb:hover {
  background: #666;
}

.#{$folderName}-device-model-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  align-self: flex-start;
}

.#{$folderName}-device-model-item > img {
  max-width: 100%;
  position: absolute;
  top: 40%;
}

.#{$folderName}-device-repair-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.#{$folderName}-device-repair-item > p {
  font-weight: bold;
  padding: 0 10px;
  font-size: 13.5px;
}

.#{$folderName}-estimate-times-div {
  margin-bottom: 20px;
}

.#{$folderName}-estimate-title {
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 15px;
}

.#{$folderName}-estimate-content {
  font-size: 15px;
}

.#{$folderName}-repair-another-device {
  display: flex;
  width: 300px;
  margin: auto;
  padding: 20px 0;
}

.#{$folderName}-repair-summary-content-div {
  display: block;
  overflow: scroll !important;
  overflow-x: hidden !important;
  height: 500px;
  /* box-shadow: inset 0px 0px 4px 4px rgba(0,0,0,0.1);
  padding: 10px; */
}

/* width */
.#{$folderName}-repair-summary-content-div::-webkit-scrollbar {
  width: 3px;
  cursor: pointer;
}

/* Track */
.#{$folderName}-repair-summary-content-div::-webkit-scrollbar-track {
  background: #ffffff;
}
 
/* Handle */
.#{$folderName}-repair-summary-content-div::-webkit-scrollbar-thumb {
  background: #999;
}

/* Handle on hover */
.#{$folderName}-repair-summary-content-div::-webkit-scrollbar-thumb:hover {
  background: #666;
}

.#{$folderName}-repair-summary-div {
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  position: relative;
}

.#{$folderName}-repair-summary-img {
  margin-right: 10px;
  width: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.#{$folderName}-repair-summary-img > img {
  width: 100%;
}

.#{$folderName}-repair-summary-title {
  font-weight: bold !important;
  font-size: 17px !important;
  margin-bottom: 15px !important;
}

.#{$folderName}-repair-summary-service {
  font-weight: 600 !important;
  font-size: 15px !important;
  margin-bottom: 5px !important;
}

.#{$folderName}-repair-summary-service-child {
  font-size: 14px !important;
}

.#{$folderName}-arrow-container {
  display: flex;
  cursor: pointer;
  padding: 3px;
}

.#{$folderName}-custom-book-time {
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 20px;
  height: 300px;
  width: 100%;
  position: relative;
}

.#{$folderName}-custom-book-time > p {
  margin: 5px 15px 10px;
  font-size: 14px;
  font-weight: bold;
}

.#{$folderName}-booking-list {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  height: auto;
  max-height: 230px;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 3px;
    cursor: pointer;
  }
  &::-webkit-scrollbar-track {
    background: #ffffff;
  }
  &::-webkit-scrollbar-thumb {
    background: #999;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #666;
  }
}

.#{$folderName}-booking-item {
  border-radius: 30px;
  height: 28px;
  width: 30%;
  justify-content: center;
  font-size: 13px;
  display: flex;
  align-items: center;
  margin: 1%;
  cursor: pointer;
}

.#{$folderName}-booking-select-timezone {
  outline: none;
  border: none;
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
}

.#{$folderName}-useful-textarea-div {
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 20px;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.#{$folderName}-useful-textarea {
  border: none;
  margin: 20px;
  font-size: 15px;
  font-family: 'POPPINS';
  width: 87%;
  outline: none;
  height: 250px;
}

.#{$folderName}-repair-service-summary-card {
  height: auto !important;
}

.#{$folderName}-repair-service-summary-title {
  text-align: center;
  font-size: 25px !important;
  font-weight: bold !important;
  margin-bottom: 5px !important;
}

.#{$folderName}-quote-component-content {
  text-align: center;
  font-size: 18px !important;
  font-weight: normal !important;
}

.#{$folderName}-repair-service-summary-detail-container {
  width: 100% !important;
  margin: 20px 0 !important;
}

.#{$folderName}-repair-service-summary-detail-container .#{$folderName}-every-container .#{$folderName}-topic {
  font-weight: 900 !important;
  margin-bottom: 15px !important;
  font-size: 17px !important;
}

.#{$folderName}-repair-service-summary-detail-container .#{$folderName}-every-container .#{$folderName}-details {
  font-weight: lighter !important;
  margin-bottom: 5px;
  font-size: 17px !important;
}

.#{$folderName}-repair-service-summary-detail-container .#{$folderName}-every-container .#{$folderName}-bolder {
  font-weight: 600 !important;
}

.#{$folderName}-repair-service-summary-flex-container {
  display: flex;
  padding: 0 10px;
}

.#{$folderName}-repair-service-summary-detail-container .#{$folderName}-bordered {
  border-bottom: 1px solid #BDBFC3;
  border-top: 1px solid #BDBFC3;
  margin-bottom: 15px;
}

.#{$folderName}-repair-service-summary-flex-container .#{$folderName}-topic {
  padding: 3px 0;
  font-weight: bold;
  font-size: 17px;
  width: 50%;
}

.#{$folderName}-repair-service-summary-flex-container .#{$folderName}-details {
  padding: 3px 0;
  font-weight: normal;
  font-size: 17px;
  width: 50%;
}

.#{$folderName}-select-mail-in-radio {
  margin-top: 10px;
  font-size: 16px;
}

.#{$folderName}-select-mail-in-container {
  display: flex;
  flex-wrap: wrap;
  width: 350px;
  margin: 10px 0 0;
}

.#{$folderName}-select-mail-in-text {
  font-size: 16px;
  /* margin: 5px 0; */
}

.#{$folderName}-quote-container {
  padding: 150px 30px;
}

.#{$folderName}-quote-image {
  margin: 0px auto 30px;
  text-align: center;
}

.#{$folderName}-quote-image img {
  width: 100px;
}

.#{$folderName}-repair-trash-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.#{$folderName}-repair-trash-icon:hover {
  transform: scale(1.2);
}

@media (max-width: 1600px) {
  .#{$folderName}-device-brand-subtitle {
    margin-top: 0.8vw;
    font-size: 1vw;
  }
}

@media (max-width: 1100px) {
  .#{$folderName}-booking-select-timezone {
    font-size: 10px;
  }
}

@media (max-width: 960px) {
  .#{$folderName}-booking-select-timezone {
    font-size: 11px;
  }
  .#{$folderName}-booking-card {
    height: 600px !important;
  }
  .#{$folderName}-repair-summary-card {
    height: auto !important;
  }
  .#{$folderName}-useful-textarea-div {
    height: 40vw;
  }
  .#{$folderName}-useful-textarea {
    font-size: 2vw;
    height: 35vw;
  }
}

@media (max-width: 600px) {
  .#{$folderName}-booking-card {
    height: auto !important;
  }
  .#{$folderName}-useful-textarea-div {
    height: 300px;
  }
  .#{$folderName}-useful-textarea {
    font-size: 3vw;
    height: 250px;
  }
  .#{$folderName}-repair-service-summary-detail-container .#{$folderName}-every-container .#{$folderName}-topic,
  .#{$folderName}-repair-service-summary-detail-container .#{$folderName}-every-container .#{$folderName}-details {
    text-align: center;
    font-size: 3.5vw !important;
  }
  .#{$folderName}-repair-service-summary-title {
    font-size: 4.3vw !important;
    margin-bottom: 15px !important;
  }
  .#{$folderName}-quote-component-content {
    font-size: 3.3vw !important;
  }
  .#{$folderName}-repair-service-summary-flex-container .#{$folderName}-topic,
  .#{$folderName}-repair-service-summary-flex-container .#{$folderName}-details {
    font-size: 3.5vw;
  }
  .#{$folderName}-booking-select-timezone {
    font-size: 9.5px;
  }
  .#{$folderName}-repair-widget-title {
    text-align: center !important;
    font-size: 5.5vw !important;
  }
  .#{$folderName}-repair-summary-title {
    text-align: left !important;
    font-size: 3.5vw !important;
    margin-bottom: 10px !important;
  }
  .#{$folderName}-select-mail-in-container {
    width: 85%;
    margin: 10px auto 0;
  }
  .#{$folderName}-select-mail-in-text {
    font-size: 3vw;
    margin: 5px 0;
  }
  .#{$folderName}-select-mail-in-radio {
    margin-top: 5px;
    font-size: 3vw;
  }
}