@media (max-width: 996px) {
  .container-header .search-div {
    display: none;
  }
}

@media (max-width: 960px) {
  .device-list-grid {
    display: flex;
  }
  .device-list-grid > div {
    margin-right: 20px;
  }
  .footer-device-list {
    display: none;
  }
  .repair-section-title-1 {
    font-size: 45px !important;
  }
  .repair-section-content {
    font-size: 25px !important;
  }
  .repair-section2-text-field {
    text-align: center;
  }
  .card-repair-sec2 {
    text-align: left;
  }
  .card-repair-sec2-img {
    width: 100px !important;
  }
  .card-repair-sec2-subtitle {
    font-size: 3vw;
  }
  .card-repair-sec2-content {
    font-size: 2vw;
  }
  .repair-sec-content-div {
    margin-top: 50px !important;
  }
  .repair-section2 {
    margin-bottom: -140px;
  }
  .device-brand-subtitle {
    font-size: 2vw;
    margin-top: 1vw;
  }
  .customized-card-height {
    height: auto !important;
    min-height: 200px !important;
  }
  .device-repair-item > p {
    font-size: 2.1vw;
  }
  .repair-card-button p {
    display: none;
  }
  .repair-summary-content-div {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden !important;
    height: auto;
  }
  .repair-summary-div {
    width: 43%;
    margin-right: 2%;
  }
  .repair-widget-card {
    height: 65vw;
  }
  .input-component {
    font-size: 2vw !important;
  }
  .footer-device-list, .footer-title {
    display: none;
  }
  .footer-device-response {
    display: block
  }
  .footer {
    background-image: url('../img/footer/footer-shape-mobile.png');
    padding: 190px 20px 30px;
  }
  .back-to-top {
    left: 10px !important;
  }
}

@media (max-width: 768px) {
  .container-header .nav-div, 
  .header-brand, 
  .mockup-shape, 
  .sec1-search_input,
  .card-customized-container-desktop, .repair-section1 img {
    display: none;
  }
  .section1-top {
    margin-bottom: 50px !important;
  }
  .container-header {
    margin-top: 0;
  }
  .avatar-div, .mobile-search-div, .card-customized-container-mobile {
    display: flex;
  }
  .card-customized-item {
    width: 120px;
    margin: 20px 10px;
    max-width: 28%;
  }
  .container-mobile {
    display: block;
  }
  .section1-title, .section1-subtitle {
    text-align: center;
    display: block;
  }
  .corner-shape {
    width: 60vw;
  }
  .footer {
    background-image: url('../img/footer/footer-shape-mobile.png');
  }
  .repair-section1 .MuiGrid-grid-sm-7 {
    flex-grow: 0;
    max-width: 100% !important;
    flex-basis: 100% !important;
  }
  .repair-section1, .repair-section-button {
    text-align: center !important;
    align-items: center;
    margin: auto;
  }
  .repair-section-title-1 {
    font-size: 6.5vw !important;
  }
  .repair-section-title-2 {
    font-size: 5.5vw !important;
  }
  .repair-section-content {
    font-size: 4vw !important;
  }
  .card-repair-sec2-subtitle {
    font-size: 3.5vw;
  }
  .card-repair-sec2-content {
    font-size: 2.5vw;
  }
  .topic-content {
    font-size: 15px !important;
  }
  .topic-title {
    font-size: 18px !important;
  }
  .repair-summary-content-div {
    display: block;
  }
  .repair-summary-div {
    width: 90%;
    margin-right: 2%;
  }
  .repair-widget-card {
    height: 80vw;
  }
}

@media (max-width: 600px) {
  .device-list-grid {
    display: block;
    text-align: center;
    padding-right: 0;
  }
  .device-list-grid > div {
    margin-right: 20px 0;
  }
  .footer-container {
    text-align: center;
  }
  .footer-images-div {
    display: block;
  }
  .footer-images-div > div {
    align-items: center;
    justify-content: center;
    margin: 20px 0;
  }
  .device-list-component {
    margin: 20px 0;
  }
  .repair-widget-card {
    height: auto;
    min-height: 200px;
  }
  .repair-card-button {
    position: inherit;
    padding: 50px 0 0;
  }
  .repair-card-button .button {
    margin: inherit;
  }
  .input-component {
    font-size: 3vw !important;
    padding: 20px 15px;
  }
}

@media (max-width: 500px) {
  .button {
    font-size: 12px !important;
    height: 30px;
  }
  .container-header > img {
    height: 35px;
  }
  .card-repair-sec2-content, .card-repair-sec3-container .content {
    font-size: 3.2vw !important;
  }
  .repair-section-button .button {
    height: 40px;
    font-size: 4vw !important;
  }
  .card-repair-sec3-container .subtitle {
    font-size: 5vw;
  }
  .topic-content {
    font-size: 12px !important;
    margin-bottom: 8px !important;
  }
  .topic-title {
    font-size: 15px !important;
    margin-bottom: 8px !important;
  }
  .repair-choose-device-container {
    /* padding: 20px 20px 100px; */
    padding: 20px;
  }
  .device-item-container {
    width: 30%;
  }
  .device-brand-subtitle {
    font-size: 3vw;
  }
  .device-repair-item > p {
    font-size: 3vw;
  }
  .repair-another-device {
    display: block;
  }
  .repair-another-device > button {
    margin-bottom: 10px;
  }
  .estimate-title, .estimate-content {
    font-size: 13px;
  }
  .estimate-times-div {
    margin-bottom: 10px;
  }
  .repair-summary-img {
    width: 11vw;
  }
  .repair-summary-service, .repair-summary-service-child {
    font-size: 13px !important;
  }  
}

@media (max-width: 425px) {
  .section1-title, .section-title, .f40 {
    font-size: 20px !important;
  }
  .section1-subtitle, .card-mobile > p, .card-fix p, .card-why-customer > p, .score-div > p, 
  .device-list-grid, .footer_link > li, .footer-subContent-title {
    font-size: 12px !important; 
  }
  .button {
    height: 25px !important;
  }
  .repair-section-button .button {
    height: 35px !important;
  }
  .content-fix .title, .protect-content {
    font-size: 16px !important;
  }
  /* .card-why-customer {
    height: 175px;
  } */
  .section1-top {
    margin-bottom: 25px !important;
    margin-top: 220px !important;
  }
  .section-title {
    margin: 1rem 0 !important;
  }
  .pd-t-5 {
    padding: 1.5rem 0 !important;
  }
  .mg-t-7 {
    margin: 4rem auto !important;
  }
  .sec6-container {
    padding-top: 1rem;
  }
  .footer {
    margin-top: -100px;
  }
  .footer-buynow {
    height: 26px;
  }
  .footer-others, .footer-others > img {
    height: 22px;
  }
  .input-component {
    font-size: 3.5vw !important;
    padding: 20px 15px;
  }
}

@media (max-width: 380px) {
  .container-header > a > img {
    height: 40px;
  }
  .avatar-div > img {
    height: 20px;
    margin: 0 6px;
  }
  .card-fix {
    min-width: 90px;
  }
  .card-popular .title {
    font-size: 3vw;
  }
  .button {
    min-width: 80px;
  }
  .custom-select {
    font-size: 3.5vw !important;
  }
}