.card-mobile {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10.2941px;
  padding: 1.5rem 0;
  box-shadow: -10.2941px -10.2941px 30.8824px #ffffff,
    10.2941px 10.2941px 30.8824px rgba(174, 174, 192, 0.4);
  position: relative;
}

.card-mobile > p {
  text-align: center;
  font-size: 25px;
  font-weight: 900;
}

.card-mobile > img {
  width: 40%;
  text-align: center;
  margin: 1rem auto;
}

.card-mobile-heart {
  position: absolute;
  box-shadow: 0px 5.09714px 5.09714px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 8px 8px;
  top: 0;
  right: 7%;
  width: 15%;
  max-width: 60px;
  min-width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-mobile-heart::before {
  content: "";
  float: left;
  padding-top: 100%;
}

.card-mobile-heart > img {
  width: 60%;
  cursor: pointer;
}

.card-mobile-heart > img:hover {
  transform: scale(1.2);
}
