
.repair-section-title-1 {
  font-weight: 800 !important;
  font-size: 60px !important;
}

.repair-section-title-2 {
  font-weight: 800 !important;
  font-size: 45px !important;
}

.repair-section-content {
  font-weight: normal !important;
  font-size: 35px !important;
  margin: 35px 0 !important;
}

.repair-section-button {
  max-width: 330px !important;
  width: 100% !important;
  padding-bottom: 2rem !important;
}

.repair-section1-special-bg {
  background-image: url('../../img/repair/section1-bg.png');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 1000px;
}

.repair-section1 {
  padding-top: 250px !important;
}

.repair-section2 {
  height: 350px;
  margin-top: -200px;
  margin-bottom: -50px;
  padding-top: 300px;
  position: relative;
  z-index: -1;
  overflow: hidden;
}

.repair-section2-text-field {
  margin-top: -200px !important
}

.repair-sec-content-div {
  width: 100% !important;
  margin-top: 80px !important;
}

.repair-section-3 {
  display: none;
}

@media (max-width: 960px) {
  .repair-section1-special-bg {
    height: 800px;
  }
  .repair-section1 {
    padding-top: 225px !important;
  }
  .repair-section2 {
    height: 450px;
    margin-top: -200px;
    margin-bottom: -50px;
    padding-top: 350px;
    position: relative;
    z-index: -1;
    overflow: hidden;
  }
}

@media (max-width: 425px) {
  .repair-section1-special-bg {
    height: 600px;
  }
  .repair-section1 {
    padding-top: 170px !important;
  }
}