version: 2.1

jobs: 
  lint:
    executor:
      name: node/default
      tag: "14.15.1"
    steps:
      - checkout
      - node/install-packages
      - run:
          command: npm run lint
#   build:
#     resource_class: large
#     executor: 
#       name: node/default
#       tag: "14.15.1"
#     steps:
#       - checkout
#       - node/install-packages
#       - run:
#           command: npm run build
  test:
    executor: 
      name: node/default
      tag: "14.15.1"
    steps:
      - checkout
      - node/install-packages
      - run:
          command: npm run test
  push-dev-image:
    executor: gcp-cli/default
    steps:
      - checkout
      - gcp-cli/install
      - gcp-cli/initialize:
          gcloud-service-key: DEV_GCLOUD_SERVICE_KEY
          google-compute-zone: DEV_COMPUTE_ZONE
          google-project-id: DEV_PROJECT_ID
      - kubernetes/install-kubectl
      - run:
          name: Push Image to GCR
          command: |
                  gcloud --quiet container clusters get-credentials $DEV_CLUSTER_NAME --region $DEV_REGION &&

                  curl -Lo skaffold https://storage.googleapis.com/skaffold/releases/latest/skaffold-linux-amd64 && chmod +x skaffold && sudo mv skaffold /usr/local/bin &&

                  gsutil cp gs://adp-dev/config/config.js ./public/ &&

                  chmod u+x ./templater.sh &&

                  ./templater.sh -s linux -p development -c "skaffold build -p development"
  deploy-dev-image:
    executor: gcp-cli/default
    steps:
      - checkout
      - gcp-cli/install
      - gcp-cli/initialize:
          gcloud-service-key: DEV_GCLOUD_SERVICE_KEY
          google-compute-zone: DEV_COMPUTE_ZONE
          google-project-id: DEV_PROJECT_ID
      - kubernetes/install-kubectl
      - run: 
          name: Deploy to GKE
          command: |
                  gcloud --quiet beta compute ssh $DEV_BASTION_CLUSTER --ssh-key-expire-after=5m --tunnel-through-iap --project $DEV_PROJECT_ID  --zone $DEV_COMPUTE_ZONE --command='
                  rm -rf adp-frontend &&
                  curl -Lo skaffold https://storage.googleapis.com/skaffold/releases/latest/skaffold-linux-amd64 && chmod +x skaffold && sudo mv skaffold /usr/local/bin &&
                  
                  export BITBUCKET_NAME=$(gcloud secrets versions access latest --secret=BITBUCKET_NAME) &&
                  export BITBUCKET_PASS=$(gcloud secrets versions access latest --secret=BITBUCKET_PASS) &&
                  export DEV_REGION=$(gcloud secrets versions access latest --secret=DEV_REGION) &&
                  export DEV_CLUSTER_NAME=$(gcloud secrets versions access latest --secret=DEV_CLUSTER_NAME) &&
                  export DEV_PROJECT_ID=$(gcloud secrets versions access latest --secret=DEV_PROJECT_ID) &&


                  git clone https://${BITBUCKET_NAME}:${BITBUCKET_PASS}@bitbucket.org/device_commerce/adp-frontend.git &&
                  gcloud --quiet container clusters get-credentials $DEV_CLUSTER_NAME --region $DEV_REGION &&
                  cd adp-frontend &&
                  chmod u+x ./templater.sh &&
                  ./templater.sh -s linux -p development -c "skaffold deploy -p development -t latest" &&
                  rm -rf adp-frontend' -- -L${DEV_BASTION_PORT}:%INSTANCE%:${DEV_BASTION_PORT}

orbs:
  node: circleci/node@4.1.0
  gcp-cli: circleci/gcp-cli@1.8.3
  kubernetes: circleci/kubernetes@0.11.2

workflows:
  test:
    jobs:
      - lint:
          context: dc
    #   - build:
    #       context: dc
    #       requires:
    #         - lint
      - test:
          context: dc
          requires:
            - lint
      - push-dev-image:
          context: dc
          filters:
            branches:
              only:
                - master
          requires:
            - test
      - deploy-dev-image:
          context: dc
          requires:
            - push-dev-image