.repair-widget {
  margin-top: 200px !important;
}

.back-to-top {
  position: absolute;
  left: 20px;
  top: 500px;
  width: 35px;
  cursor: pointer;
  z-index: 999;
}

.repair-widget-card {
  width: 100%;
  max-width: 900px;
  height: 600px;
  background: #FFFFFF;
  box-shadow: -10px -10px 30px #FFFFFF, 10px 10px 30px rgba(174, 174, 192, 0.4);
  border-radius: 20px;
  position: relative;
}

.repair-widget-title {
  font-weight: bold !important;
  font-size: 35px !important;
}

.repair-choose-device-container {
  padding: 30px 20px;
}

.device-item-container {
  width: 17%;
  margin: 1%;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.device-item-container:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.plus-svg {
  max-width: 80%;
  cursor: pointer;
}

.plus-svg:hover {
  fill:rgba(153, 145, 145, 0.4);
}

.back-path:hover {
  fill:rgba(15, 15, 15, 0.4);
}

.topic-title {
  font-weight: bold !important;
  font-size: 20px !important;
  font-style: normal !important;
  margin-bottom: 20px !important;
}

.topic-content {
  font-weight: normal !important;
  font-size: 17px !important;
  margin-bottom: 20px !important;
}

.repair-card-button {
  position: absolute;
  bottom: 30px;
  left: 30px;
  display: flex;
  align-items: center;
  color: rgba(0,0,0,0.35);
}

.repair-card-button p {
  margin-left: 15px;
}

.device-brand-subtitle {
  margin-top: 0.8vw;
  font-weight: bold;
  padding: 0 10px;
  font-size: 1vw;
}

.widget-main-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.device-model-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  align-self: flex-start;
}

.device-model-item > img {
  max-width: 80%;
  position: absolute;
  bottom: 0px;
}

.device-repair-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.device-repair-item > p {
  font-weight: bold;
  padding: 0 10px;
  font-size: 13.5px;
}

.estimate-times-div {
  margin-bottom: 20px;
}

.estimate-title {
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 15px;
}

.estimate-content {
  font-size: 15px;
}

.repair-another-device {
  display: flex;
  width: 300px;
  margin: auto;
}

.repair-summary-content-div {
  display: block;
}

.repair-summary-div {
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
}

.repair-summary-img {
  margin-right: 10px;
}

.repair-summary-img > img {
  width: 100%;
}

.repair-summary-title {
  font-weight: bold !important;
  font-size: 17px !important;
  margin-bottom: 15px !important;
}

.repair-summary-service {
  font-weight: 600 !important;
  font-size: 15px !important;
  margin-bottom: 5px !important;
}

.repair-summary-service-child {
  font-size: 14px !important;
}

.arrow-container {
  display: flex;
  cursor: pointer;
  padding: 3px;
}

.custom-book-time {
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 20px;
  height: 300px;
  width: 100%;
  position: relative;
}

.custom-book-time > p {
  margin: 5px 15px 10px;
  font-size: 14px;
  font-weight: bold;
}

.booking-list {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}

.booking-item {
  border-radius: 30px;
  height: 28px;
  width: 30%;
  justify-content: center;
  font-size: 13px;
  display: flex;
  align-items: center;
  margin: 1%;
  cursor: pointer;
}

.booking-select-timezone {
  outline: none;
  border: none;
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
}

.useful-textarea-div {
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 20px;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.useful-textarea {
  border: none;
  margin: 20px;
  font-size: 15px;
  font-family: 'POPPINS';
  width: 87%;
  outline: none;
  height: 250px;
}

.thankyou-mobile-card {
  height: auto !important;
}

.thankyou-mobile-title {
  text-align: center;
  font-size: 25px !important;
  font-weight: bold !important;
  margin-bottom: 5px !important;
}

.thankyou-mobile-content {
  text-align: center;
  font-size: 15px !important;
  font-weight: normal !important;
}

.thankyou-mobile-detail-container {
  width: 100% !important;
  margin: 20px 0 !important;
}

.thankyou-mobile-detail-container .every-container .topic {
  font-weight: 900 !important;
  margin-bottom: 15px !important;
  font-size: 17px !important;
}

.thankyou-mobile-detail-container .every-container .details {
  font-weight: lighter !important;
  margin-bottom: 5px;
  font-size: 17px !important;
}

.thankyou-mobile-detail-container .every-container .bolder {
  font-weight: 600 !important;
}

.thankyou-flex-container {
  display: flex;
  padding: 0 10px;
}

.thankyou-mobile-detail-container .bordered {
  border-bottom: 1px solid #BDBFC3;
  border-top: 1px solid #BDBFC3;
  margin-bottom: 15px;
}

.thankyou-flex-container .topic {
  padding: 3px 0;
  font-weight: bold;
  font-size: 17px;
  width: 50%;
}

.thankyou-flex-container .details {
  padding: 3px 0;
  font-weight: normal;
  font-size: 17px;
  width: 50%;
}

@media (max-width: 1100px) {
  .booking-select-timezone {
    font-size: 10px;
  }
}

@media (max-width: 960px) {
  .booking-select-timezone {
    font-size: 11px;
  }
  .booking-card {
    height: 600px !important;
  }
  .repair-summary-card {
    height: auto !important;
  }
  .useful-textarea-div {
    height: 40vw;
  }
  .useful-textarea {
    font-size: 2vw;
    height: 35vw;
  }
}

@media (max-width: 600px) {
  .booking-card {
    height: auto !important;
  }
  .useful-textarea-div {
    height: 300px;
  }
  .useful-textarea {
    font-size: 3vw;
    height: 250px;
  }
  .thankyou-mobile-detail-container .every-container .topic,
  .thankyou-mobile-detail-container .every-container .details {
    text-align: center;
    font-size: 3.5vw !important;
  }
  .thankyou-mobile-title {
    font-size: 4.3vw !important;
    margin-bottom: 15px !important;
  }
  .thankyou-mobile-content {
    font-size: 3.3vw !important;
  }
  .thankyou-flex-container .topic,
  .thankyou-flex-container .details {
    font-size: 3.5vw;
  }
  .booking-select-timezone {
    font-size: 9.5px;
  }
  .repair-widget-title {
    text-align: center !important;
    font-size: 5.5vw !important;
  }
  .repair-summary-title {
    text-align: center !important;
    font-size: 3.5vw !important;
    margin-bottom: 10px !important;
  }
}