
.repair-section-title-1 {
  font-weight: 800 !important;
  font-size: 60px !important;
}

.repair-section-title-2 {
  font-weight: 800 !important;
  font-size: 45px !important;
}

.repair-section-content {
  font-weight: normal !important;
  font-size: 35px !important;
  margin: 35px 0 !important;
}

.repair-section-button {
  max-width: 330px !important;
  width: 100% !important;
  padding-bottom: 2rem !important;
}

.repair-section1 {
  margin-top: 250px !important;
}

.repair-section2 {
  height: 550px;
  margin-top: -200px;
  margin-bottom: -50px;
  padding-top: 500px;
  position: relative;
  z-index: -1;
  overflow: hidden;
  background-image: url('../../img/repair/section2-bg.png');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.repair-section2-text-field {
  margin-top: -200px !important
}

.repair-sec-content-div {
  width: 100% !important;
  margin-top: 80px !important;
}