.#{$folderName}-device-list-component {
  text-align: center;
  width: 100%;
}

.#{$folderName}-device-list-component img {
  width: 40%;
}

.#{$folderName}-device-list-component .#{$folderName}-title {
  color: black;
  margin-bottom: 6px;
}

.#{$folderName}-device-list-component .#{$folderName}-content {
  color: black;
  line-height: 1.2;
  margin: 0;
}