.button {
  height: 40px;
  outline: none;
  border: 1px solid rgba(0,0,0,0.1);
  font-size: 18px;
  width: 80%;
  cursor: pointer;
  min-width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}