$bananaservice: 'bananaservice';
$mobiletech: 'mobiletech';
$nanotechmobile: 'nanotechmobile';
$northtechsolutions: 'northtechsolutions';
$phonephix: 'phonephix';
$pradowireless: 'pradowireless';
$wearegeebo: 'wearegeebo';
$wirelessrev: 'wirelessrev';

$mtlcmtx: 'mtlcmtx';
$dccmtx: 'dccmtx';
