$bananaservice: 'bananaservice';
$mobiletechlab: 'mobiletechlab';
$nanotechmobilerepair: 'nanotechmobilerepair';
$northtechsolutions: 'northtechsolutions';
$okotoksphonephix: 'okotoksphonephix';
$pradowireless: 'pradowireless';
$wearegeebo: 'wearegeebo';
$wirelessrev: 'wirelessrev';

$mtlcmtx: 'mtlcmtx';
$dccmtx: 'dccmtx';
