$folderName: "devicelist";

.#{$folderName}-footer {
  padding: 190px 20px 30px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-image: url('../img/footer/footer-shape-desktop.png');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}