.#{$folderName}-logo-header {
  height: 60px;
}

.#{$folderName}-logo-footer {
  height: 200px;
  margin-top: -150px;
  margin-left: 20px;
  @media (max-width: 960px) {
    margin-top: -50px;
  }
  @media (max-width: 600px) {
    margin-top: 50px;
  }
}
