.#{$folderName}-button {
  height: 40px;
  outline: none;
  border: 1px solid rgba(0,0,0,0.1);
  font-size: 18px;
  width: 80%;
  cursor: pointer;
  min-width: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.#{$folderName}-button:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}