body,
p,
div,
a,
button {
  margin: 0;
  // overflow: visible !important;
  font-family: "Poppins", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

// /* width */
// .MuiPopover-paper::-webkit-scrollbar {
//   width: 3px;
//   cursor: pointer;
// }

// /* Track */
// .MuiPopover-paper::-webkit-scrollbar-track {
//   background: #ffffff;
// }

// /* Handle */
// .MuiPopover-paper::-webkit-scrollbar-thumb {
//   background: #999;
// }

// /* Handle on hover */
// .MuiPopover-paper::-webkit-scrollbar-thumb:hover {
//   background: #666;
// }

/* Custom reamaze chat-widget */
#reamaze-wrapper {
  width: 350px !important;
  height: 550px !important;
  @media (max-width: 768px) {
    width: 100% !important;
  }
}

#reamaze-container {
  width: 350px !important;
  @media (max-width: 768px) {
    width: 100% !important;
  }
}
