.#{$folderName}-service-section-title-1 {
  font-weight: 800 !important;
  font-size: 60px !important;
  font-family: "Poppins Bold" !important;
  @media (max-width: 960px) {
    font-size: 45px !important;
  }
  @media (max-width: 768px) {
    font-size: 6.5vw !important;
  }
}

.#{$folderName}-service-section-title-2 {
  font-weight: 800 !important;
  font-size: 45px !important;
}

.#{$folderName}-service-section-content {
  font-weight: normal !important;
  font-size: 35px !important;
  margin: 35px 0 !important;
}

.#{$folderName}-service-section-button {
  max-width: 240px !important;
  width: 100% !important;
  padding-bottom: 2rem !important;
}

.#{$folderName}-service-section1 {
  margin-top: 250px !important;
}

.#{$folderName}-service-section2 {
  height: 550px;
  margin-top: -200px;
  margin-bottom: -50px;
  padding-top: 600px;
  position: relative;
  z-index: -1;
  overflow: hidden;
  // background-image: url("../../img/repair/geebo-section2-bg.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.#{$folderName}-service-section2-text-field {
  margin-top: -200px !important;
}

.#{$folderName}-repair-sec-content-div {
  width: 100% !important;
  margin-top: 80px !important;
}

.service-section2-select-repair {
  width: 95px;
  height: 143px;
}

.service-section2-get-device {
  width: 100px;
  height: 143px;
}

.service-section2-receive-device {
  width: 100px;
  height: 154px;
}

@media (max-width: 960px) {
  .service-section2-select-repair,
  .service-section2-get-device,
  .service-section2-receive-device {
    width: 100%;
    height: auto;
  }
  .#{$folderName}-service-section2 {
    padding-bottom: 200px;
  }
}

@media (max-width: 600px) {
  .#{$folderName}-service-section2 {
    padding-bottom: 50px;
  }
}

@media (max-width: 400px) {
  .#{$folderName}-service-section2 {
    padding-bottom: 0px;
  }
}

.#{$folderName}-repair-sec4-grid-root {
  text-align: left;
  margin: 150px 0 !important;
  display: flex;
  align-items: center;
  @media (max-width: 960px) {
    margin: 70px 0 !important;
    text-align: center;
  }
}
